body {
  margin: 0; padding: 0;
}

main {
  background-color: #f0f0f0;
  padding: 1em;
  color: rgb(102, 102, 102);
  font-family: FrutigerLTW02-55Roman, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30.0667px;
  text-rendering: optimizelegibility;
}

#search, #contact {
  margin-bottom: 2em;
}

labels .icon {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  background-size: auto 100%;
  margin-right: 0.3em;
}

hide, .hide { display: none; }

a { color: #444; }

#mymap { height: 400px; margin-top: 1em; }
button.maphome {
  position: absolute;
  z-index: 1000;
  font-size: 7px;
  background: white;
  border: 1px solid black; color: black;
  margin-top: 80px; margin-left: 10px;
  cursor: pointer;
}

.help { font-size: 90%; line-height: 1.2em; }

#content { clear: both; }

.results { font-size: 90%; }
.results .person {
  display: block;
  height: auto;
  width: 100%;
  border-top: 1px solid #999;
  padding: 1em;
  margin: 0em;
  cursor: pointer;
  border-left: 20px solid transparent;
}
.results .person:hover {
  border-left: 20px solid wheat;
  color: black;
}
.results .person .name {
  font-weight: bold;
  display: inline-block; clear: none; margin-right: 1em;
}
.results .footer { text-align: center; margin: 1em; }

.details .person-nav { float: right; }
.details .c-button {
  position: relative;
  cursor: pointer;
}
.details {
  background: white;
  border: 20px solid wheat;
}
.details .personal .org {
  font-weight: bold;
}

.footer .material-icons,
.details .material-icons { font-size: 0.8em; }

.person-tags section a span {
  background-color: #ddf;
}
.person-tags section span {
  border: 1px solid #eee;
  padding: 3px;
  margin: 6px;
  box-shadow: 3px 3px 3px #eee;
}
.person-tags section span:hover {
  border: 1px solid #ccc;
  box-shadow: none;
}
.person-tags section span i { font-size: 0px; color: transparent }

/*
.person-tags section span:after { content: "; "; color: #aaa }
.person-tags section span:last-child:after { content: "" }
*/

.o-field--icon-left .c-button--close {
  top: 0.25em;
}

.o-field { margin: 1em; }

.c-field {
  padding-left: 2em;
}

.c-card.c-card--menu.u-high {
  margin: 0px;
  margin-bottom: 0.5em;
}

.filters .material-icons {
  position:absolute;
  margin-top:0.3em;
  margin-left:0.3em;
}

.field-filters .c-card--menu { margin: 0 0 0.5em 0; }

section.resources ul {
  list-style:none;padding:0;margin:0
}
section.resources li:hover {
  /* background-color: #ffd; */
}
section.resources li {
  clear:both;
  margin-bottom:1em;
  border-bottom:1px solid lightgray;
}
section.resources li:last-child {
  margin-bottom:0px;
  border-bottom:none;
}
section.resources li .c-input-group {
  position: absolute;
  clear: both; margin-right:1em
}
section.resources li .title {
  margin-left: 7em;
}
section.resources li .resource-detail {
  font-size: 90%; line-height: 1.2em;
}


.contact-form input, .contact-form textarea {
  font-family: FrutigerLTW02-55Roman, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.contact-form textarea {
  width: 100%; padding: 0.5em;
}
